{% extends "base.html" %}
{% block body_class %}contact{% endblock %}

{% block header%}
    <h1>Q-Vault</h1>
    <h3><a href="/about-us/">About Us</a></h3>
{% endblock %}

{% block base_content%}
    <div class="contactForm">
	<h2>Apply for an Invitation</h2>
	<form action="/contact/" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Join Invite List</button>
	</form>
    </div>
    <div class="sidebar">
	<h3>Serious about Relationships</h3>
	<p>We are a members-only matchmaking service. Q-VAULT is for gay and lesbian individuals in the Central Ohio area ready for commitment and self-discovery. We are not a hook-up site.</p>
	
	<h3>Serious about discretion and Privacy</h3>
	<p>We personally interview every member to ensure you only meet others who are serious about relationships like you. Profiles are not open to the public.</p>
	
	<h3>Serious about Our Community</h3>
	<p>Q-VAULT is based in Columbus, OH and we are committed to supporting our local community and giving back to pay it forward. A portion of our proceeds will be directed to Equality Ohio, which is a statewide non-profit agency working towards achieving full equality for all Ohioans.</p>

    </div>
    
{% endblock %}